.home-container {
    position: relative;
    display: center;
    flex-direction: column;
    height: 100%;
  }
/* Apps Card */

component-card .apps-card ion-list ion-thumbnail {
  margin-top: 5px;
  margin-bottom: 5px;

  --border-radius: 14px;
}
  .ripple-parent {
    position: relative;
    overflow: hidden;
  }

  .fade-in {
    animation: fadein 2s;
  }
  .fade-out {
    animation: fadeout 1s;
  }


  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
