.ios body.dark component-card {
    --ion-item-background: #1c1c1e;
}

component-card {
    --background-darker: var(--ion-color-step-200, #1859bf);

    --text-dark: var(--ion-color-step-850, #27323f);
    --text-darker: var(--ion-color-step-950, #0e151f);

    --text-light: var(--ion-color-step-650, #5b708b);
    --text-lighter: var(--ion-color-step-550, #73849a);
    --text-lightest: var(--ion-color-step-300, #b2becd);
    background: #2dd36f;
}

