.home-container {
  position: relative;
  display: center;
  flex-direction: column;
  height: 100%;
}

ion-header {
  position: relative !important;
}

.gradient-1 {
  --background: linear-gradient(
    180deg,
    rgba(132, 163, 183, 1) 0%,
    rgb(74, 217, 236) 100%
  );
  background: linear-gradient(180deg, #7bc2ca 0%, #ffffff 100%);
}

.img-profile {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
